@import url("https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap");

* {
  box-sizing: border-box;
}

h1,
#description {
  text-align: center;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background: linear-gradient(
    135deg,
    rgba(255, 0, 0, 0.753),
    rgba(0, 0, 255, 0.555)
  );
}

form {
  background-color: #fff;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  padding: 30px 20px;
  max-width: 700px;
  margin: 40px auto;
}

.form-control {
  margin-bottom: 20px;
  text-align: left;
}
.form-control label {
  margin-bottom: 6px;
}

.form-control input,
.form-control select,
.form-control textarea {
  border: 1px solid rgba(112, 112, 112, 0.596);
  border-radius: 2px;
  padding: 10px;
  display: block;
  font-size: 14px;
  width: 100%;
  font-family: inherit;
}

.form-control input[type="radio"],
.form-control input[type="checkbox"] {
  display: inline-block;
  width: auto;
}

h1 {
  margin-bottom: 0;
  text-shadow: 0.5px 0.5px 0.5px rgba(255, 255, 0, 0.644);
  text-transform: uppercase;
}

h1 + p {
  margin-top: 0;
}

button {
  background-color: rgb(255, 187, 0);
  border: 1px solid rgb(255, 222, 222);
  border-radius: 4px;
  font-family: inherit;
  font-size: 16px;
  display: block;
  padding: 10px;
  width: 100%;
}

button:hover {
  background-color: rgba(255, 32, 32, 0.582);
}
